{% load static %}
<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
      <div class="container">
        <a class="navbar-brand" href={% url "pages:index" %}>
          <img src={% static "img/logo.png" %} class="logo" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav">
            <li {% if request.path == '/' %} class="nav-item active mr-3" {% else %}
              class="nav-item mr-3" {% endif %}>
              {% comment %} Refer to urls.py under templates/pages folder, {% endcomment %}
              <a class="nav-link" href={% url "pages:index" %}>Home</a>
            </li>
            <li {% if 'about' in request.path %} class="nav-item active mr-3" {% else %}
            class="nav-item mr-3" {% endif %}>
              <a class="nav-link" href={% url "pages:about" %}>About</a>
            </li>
            <li class="nav-item mr-3">
                {% comment %} Refer to urls.py under templates/listings folder, app_name:urls {% endcomment %}
              <a class="nav-link" href={% url "listings:listings" %}>Featured Listings</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            {% comment %} Check if user login or not {% endcomment %}
            {% if user.is_authenticated %}
            {% comment %} if user login successfully, go to dashboard. {% endcomment %}
            <li {% if 'dashboard' in request.path %} class="nav-item active mr-3" 
                {% else %} class="nav-item mr-3" {% endif %}>
                <a class="nav-link" href={% url "accounts:dashboard" %}>
                  Welcome {{user.username}} ! (Dashboard)
                </a>
            </li>
              <!-- logout -->
              <li class="nav-item mr-3">
                <!-- Create url for user click for logout -->
                <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                  <i class="fas fa-sign-out-alt">Logout</i>
                </a>
                  <!-- Logout needs killing the token from endpoint to the backend, method="POST" so user
                    can't logout by type in the url on browser. -->
                  <form action="{% url 'accounts:logout' %}" method="POST" id="logout">
                    {% csrf_token %}
                    <input 
                      {% comment %} Hide the input box {% endcomment %}
                      type="hidden"
                    >
                  </form>
              </li>
              <!-- end of logout -->
            {% else %}
            <li {% if 'register' in request.path %} class="nav-item active mr-3" 
                {% else %} class="nav-item mr-3" {% endif %}>
                {% comment %} Add Apps url {% endcomment %}
                {% comment %} <a class="nav-link" href="register.html"> {% endcomment %}
                <a class="nav-link" href={% url "accounts:register" %}>
                  <i class="fas fa-user-plus"></i> 
                    Register
                </a>
            </li>
            <li {% if 'login' in request.path %} class="nav-item active mr-3" 
                {% else %} class="nav-item mr-3" {% endif %}>
                {% comment %} Add Apps url {% endcomment %}
                {% comment %} <a class="nav-link" href="login.html"> {% endcomment %}
                <a class="nav-link" href={% url "accounts:login" %}>
                  <i class="fas fa-sign-in-alt"></i>
                    Login
                </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>